@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #C70039 ;
    --secondary-color: #900C3F; 
    --custom-form: #fbedf1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

.btn {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 6px 8px 6px 8px;
}

.btn-primary{
    color: #FFF;
    background-color: var(--primary-color);
}

.btn-primary:hover{
    color: #FFF;
    background-color: var(--secondary-color);
}

/* Navigation Bar */
.navbar {
    background-color: var(--primary-color);
    color: #FFF;
    height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #FFF;
    padding: 8px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #FFF solid;
}

.navbar li:hover > .navbar-dropdown li{
    display: block;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--primary-color);
}

.navbar-dropdown li{
    display: none;
    position: relative;
    padding: 12px 10px;
}

/* Sign up Form */
.signup-sub {
    flex-direction: column;
    background-color: var(--custom-form);
    justify-content: flex-end;
    padding: 10px 12px;
}

.signup-sub .flex {
    flex-direction: column;
}

/* footer */
footer {
    color: #FFF;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
}

.footer a {
    text-decoration: none;
    color: #FFF;
}

footer a:hover {
   border-bottom: 1px #FFF solid;
}